<div class="container mt-5">
  <div class="card">
    <div class="card-header bg-primary text-white">First Component</div>
    <div class="card-body">
      <div class="row">
        <div class="col-12">
          <!-- <span class="text-mono">{{company.Name}} : {{company.industry}}</span> -->
          <div class="container">
            <div class="container">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">Employee ID</th>
                    <th scope="col">Full Name</th>

                    <!-- If you want to add these columns you can add. but i do't want to show all the columns as of now for time being....-->
                    <!-- <th scope="col">City</th>
                              <th scope="col">Postal Code</th>
                              <th scope="col">Country</th> -->
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let employee of EmployeesList">
                    <td>{{ employee.EmployeeID }}</td>
                    <td>{{ employee.FullName }}</td>

                    <!-- If you want to add these columns you can add. but i do't want to show all the columns as of now for time being....-->

                    <!-- <td>{{ employee.City }}</td>
                              <td>{{ employee.PostalCode }}</td>
                              <td>{{ employee.Country }}</td> -->
                  </tr>
                </tbody>
              </table>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <hr class="my-4 bg-info" />
            </div>
          </div>

          <!-- Normal Dropdown-->
          <!-- <div class="col-5 mt-3">
            <select class="form-select">
              <option value="" disabled selected>Select City</option>
              <option value="101">London</option>
              <option value="102">Seattle</option>
              <option value="103">Tacoma</option>
              <option value="104">Kirkland</option>
              <option value="105">Redmond</option>
            </select>
          </div> -->
        </div>

        <br />
      </div>
      <!--Dropdown binding by the data-->
      <div class="row">
        <div class="col-12 mt-1">
          <div class="row">
            <div class="col-6">
              <!--  -->
              <select class="form-select" [(ngModel)]="cityValue">
                <option value="" disabled selected>Select City</option>
                <option *ngFor="let city of CityList" [value]="city.CityID">
                  {{ city.CityName }}
                </option>
              </select>
            </div>
            <div class="col-2">
              <button class="btn btn-primary" (click)="btnFilterByCity(cityValue)">Get</button>
            </div>
            <div class="col-2">
              <button class="btn btn-danger">Delete</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
